<!DOCTYPE html>
<html>
<head>
  <title>VkontakteLikes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if notice %>
      <p class="alert alert-success" style="text-align:center;"><%= notice %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
